* {
    primary: #b6ccba;
    primary-fixed: #d2e8d6;
    primary-fixed-dim: #b6ccba;
    on-primary: #223428;
    on-primary-fixed: #0d1f14;
    on-primary-fixed-variant: #384b3e;
    primary-container: #667a6b;
    on-primary-container: #ffffff;
    secondary: #c1c9c0;
    secondary-fixed: #dde5dc;
    secondary-fixed-dim: #c1c9c0;
    on-secondary: #2b322c;
    on-secondary-fixed: #161d18;
    on-secondary-fixed-variant: #414942;
    secondary-container: #414942;
    on-secondary-container: #dae2d9;
    tertiary: #e3bdc0;
    tertiary-fixed: #ffd9dc;
    tertiary-fixed-dim: #e3bdc0;
    on-tertiary: #422a2d;
    on-tertiary-fixed: #2b1518;
    on-tertiary-fixed-variant: #5b4042;
    tertiary-container: #8d6d70;
    on-tertiary-container: #ffffff;
    error: #ffb4ab;
    on-error: #690005;
    error-container: #93000a;
    on-error-container: #ffdad6;
    surface: #131412;
    on-surface: #e4e2e0;
    on-surface-variant: #c3c8c1;
    outline: #8d928c;
    outline-variant: #434843;
    shadow: #000000;
    scrim: #000000;
    inverse-surface: #e4e2e0;
    inverse-on-surface: #30312f;
    inverse-primary: #4f6355;
    surface-dim: #131412;
    surface-bright: #393938;
    surface-container-lowest: #0d0e0d;
    surface-container-low: #1b1c1b;
    surface-container: #1f201f;
    surface-container-high: #292a29;
    surface-container-highest: #343533;
}
