* {
    primary: #ffb59b;
    primary-fixed: #ffdbcf;
    primary-fixed-dim: #ffb59b;
    on-primary: #5b1b00;
    on-primary-fixed: #380d00;
    on-primary-fixed-variant: #812900;
    primary-container: #e56e3f;
    on-primary-container: #000000;
    secondary: #feb69c;
    secondary-fixed: #ffdbcf;
    secondary-fixed-dim: #feb69c;
    on-secondary: #502412;
    on-secondary-fixed: #351002;
    on-secondary-fixed-variant: #6b3926;
    secondary-container: #6b3926;
    on-secondary-container: #ffd8ca;
    tertiary: #66d5ef;
    tertiary-fixed: #a9edff;
    tertiary-fixed-dim: #66d5ef;
    on-tertiary: #003640;
    on-tertiary-fixed: #001f26;
    on-tertiary-fixed-variant: #004e5c;
    tertiary-container: #1a9eb6;
    on-tertiary-container: #000000;
    error: #ffb4ab;
    on-error: #690005;
    error-container: #93000a;
    on-error-container: #ffdad6;
    surface: #1b110d;
    on-surface: #f3ded7;
    on-surface-variant: #dec0b6;
    outline: #a68b82;
    outline-variant: #57423b;
    shadow: #000000;
    scrim: #000000;
    inverse-surface: #f3ded7;
    inverse-on-surface: #3a2e29;
    inverse-primary: #a33e12;
    surface-dim: #1b110d;
    surface-bright: #433632;
    surface-container-lowest: #150c09;
    surface-container-low: #241915;
    surface-container: #281d19;
    surface-container-high: #332723;
    surface-container-highest: #3f322e;
}
