* {
    primary: #4d331e;
    primary-fixed: #8d6c54;
    primary-fixed-dim: #73543e;
    on-primary: #ffffff;
    on-primary-fixed: #ffffff;
    on-primary-fixed-variant: #ffffff;
    primary-container: #664933;
    on-primary-container: #ffffff;
    secondary: #45372d;
    secondary-fixed: #817064;
    secondary-fixed-dim: #68574c;
    on-secondary: #ffffff;
    on-secondary-fixed: #ffffff;
    on-secondary-fixed-variant: #ffffff;
    secondary-container: #817064;
    on-secondary-container: #ffffff;
    tertiary: #203d42;
    tertiary-fixed: #5b787d;
    tertiary-fixed-dim: #425f64;
    on-tertiary: #ffffff;
    on-tertiary-fixed: #ffffff;
    on-tertiary-fixed-variant: #ffffff;
    tertiary-container: #375459;
    on-tertiary-container: #ffffff;
    error: #7b0007;
    on-error: #ffffff;
    error-container: #d8332d;
    on-error-container: #ffffff;
    surface: #fff8f5;
    on-surface: #1a1715;
    on-surface-variant: #423831;
    outline: #5f544c;
    outline-variant: #7d7169;
    shadow: #000000;
    scrim: #000000;
    inverse-surface: #33302d;
    inverse-on-surface: #f7efeb;
    inverse-primary: #e7bfa2;
    surface-dim: #cec7c3;
    surface-bright: #fff8f5;
    surface-container-lowest: #ffffff;
    surface-container-low: #faf2ee;
    surface-container: #efe7e3;
    surface-container-high: #e4dcd9;
    surface-container-highest: #d9d2ce;
}
